<% provide(:title, "通知一覧") %>
<div class="container">
  <h3>通知一覧</h3>
  <% if @notifications.present? %>
  <%= will_paginate @notifications, previous_label: '<', next_label: '>' %>
  <div class="row">
    <%= render @notifications %>
  </div>
  <%= will_paginate @notifications, previous_label: '<', next_label: '>' %>
  <% end %>
</div>
