<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3> keep一覧 (<%= @likes.count %>)</h3>
    </div>
  </div>
  <% if @likes.present? %>
    <ul class="likes">
      <%= render @likes %>
    </ul>
  <% end %>
</div>