<% provide(:title, "like一覧") %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>like一覧 (<%= @likes.count %>)</h3>
    </div>
  </div>
  <% if @likes.present? %>
    <%= will_paginate %>
      <ul class="likes">
        <%= render @likes %>
      </ul>
    <%= will_paginate %>
  <% end %>
</div>