<li id="group-<%= group.id %>">
  <div class="row">
    <div class="col-md-4">
      <%= link_to "#{group.admin_user.username}", user_path(group.admin_user) %> |
      <%= link_to "#{group.name}", group_posts_path(group) %>
    </div>
  </div>
</li>
