<div class="group-wrapper">
  <li id="group-<%= group.id %>">
    <h6>
      <%= link_to "#{group.admin_user.username}", user_path(group.admin_user) %>のグループ：
      <%= link_to "#{group.name}", group_posts_path(group) %>
    </h6>
  </li>
</div>
