<% provide(:title, "グループ編集") %>
<div class="chat-group-form">
  <div class="main">
    <div class="card devise-card">
      <div class="form-wrap">
        <div class="form-group text-center">
          <h4 class="text-secondary">グループ編集</h4>
        </div>
        <%= render 'form', group: @group %>
          <%= link_to "グループ削除", group_path(@group), method: :delete, data: {confirm: "本当に削除してよろしいですか？"} %>
          <%= link_to "投稿一覧ページ", group_posts_path(@group) %>
      </div>
    </div>
  </div>
</div>
