<% provide(:title, "グループ一覧") %>
<div class="container">
  <h3>あなたが入れるグループ一覧 (<%= @groups.count %>)</h3>
  <% if @groups.present? %>
    <%= will_paginate @groups, previous_label: '<', next_label: '>' %>
    <ul class="groups">
      <%= render @groups %>
    </ul>
    <%= will_paginate @groups, previous_label: '<', next_label: '>' %>
  <% end %>
</div>
