<% provide(:title, "新規グループ登録") %>
<div class="chat-group-form">
  <div class="main">
    <div class="card devise-card">
      <div class="form-wrap">
        <div class="form-group text-center">
          <h4 class="text-secondary">グループ新規登録</h4>
        </div>
        <%= render 'form', group: @group %>
      </div>
    </div>
  </div>
</div>
