<% provide(:title, 'ユーザー一覧') %>
<div class="container">
  <h2>ユーザー一覧</h2>
  <%= will_paginate, previous_label: '<', next_label: '>' %>
    <ul class="users">
      <%= render @users %>
    </ul>
  <%= will_paginate, previous_label: '<', next_label: '>' %>
</div>