<div class="row">
  <%= search_form_for(@q, url: search_group_posts_path) do |f| %>
    <div class="col-md-10">
      <div class='form-group'>
        <%= f.search_field :content_cont, placeholder: "写真名", class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-2">
      <div class='form-group'>
        <%= f.submit nil, class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>