<%= render 'post_form', group: group, post: post %>
<div class="sort">
  <%= render 'sort_main_post.html.erb' %>
</div>
<%= render 'search_form' %>
<div class="posts">
  <%= render @posts, group: group %>
</div>
