.post-wrapper {
  margin-top: 40px;
}

.post-container {
  margin-bottom: 50px;
}

.card-title {
  border-bottom: 1px solid rgb(40, 109, 189);
}

.approaching {
  color: darkorange
}

.expirs {
  color: red;
  font-weight: bold;
}

.still {
  color: darkblue
}