.users {
  list-style: none;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 2px solid rgb(255, 187, 0);
  }
}

.groups {
  list-style: none;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 2px solid rgb(255, 187, 0);
  }
}

.group-wrapper {
  margin-bottom: 40px;
}