.profile-container {
  margin-bottom: 40px;
}

.gravatar-wrapper {
  margin: 40px 0;
}

.group-container {
  margin-bottom: 30px;
}

.subject-line {
  margin: 1rem 0 1rem 0.5em;
  padding: 0.25em 0.5em;
  background: transparent;
  border-left: solid 5px #7db4e6;
}

.group-list-wrapper {
  margin-left: 20px;
}